
.homeIntro  {
    padding-top: 5vh;
    text-align: center;
    margin: auto; 
}

.homeIntro p{
    
    padding: 5vh;
    font-size: 20px;
}

.homeIntro button{
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.homeIntro button:hover{
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    position: relative;
  }
  
  .slide-image {
    max-width: 100%;
    max-height: 100%;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }