
.homeIntro  {
    padding-top: 5vh;
    text-align: center;
    margin: auto; 
}

.homeIntro p{
    
    padding: 5vh;
    font-size: 20px;
}

.homeIntro button{
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.homeIntro button:hover{
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}